/* General
-------------------------------------------------- */
* { margin: 0; padding: 0; }
html, body { height: 100%; }
body
{	
/*
	background-image: url("../Images/1.jpg");
	background-size: 100% 100%;
	background-position: center center;
*/
	border: 0px!important;
	height: 100%;
	line-height: 1.55;
	margin: 0px!important;
	padding: 0px!important;
	width: 100%;
	

}
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

#bg-pattern 
{
     background: url("../Images/pattern.png") repeat fixed!important;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: -1;
}

#bg-darker 
{
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.clear
{
	clear: both;
}

.border
{
	border: 1px solid rgba(255, 200, 1, 0.3);
	height: auto;
}

/* Navbar
-------------------------------------------------- */

.dropdown-menu
{
	background-color: #222222;
}

.dropdown-menu li a
{
	color: #9d9d9d;
}

.dropdown-menu li a:hover
{	
	background-color: transparent;
	color: white;
}

.colorForReference
{
	border-bottom-color: rgb(255, 200, 1);
}

#searchNav
{
	margin-left: 15px;
}

/* #contentDiv
-------------------------------------------------- */

#contentDiv
{	
	margin: 0 auto;
}

/* Content - div one
-------------------------------------------------- */

#contentDiv #divOne
{
	height: 100%;
	margin-top: 20px;
}

/* Content - div one - #donationList
-------------------------------------------------- */

#donationList
{
}

#donationList #donationListContent
{
}

#donationListContent .thumbnail{background-color: transparent; border: none;}

#donationListContent .item
{	
	padding: 0px;
	height: 500px;
	margin-bottom: 8px;
}

#donationListContent .item .itemImage img
{	
	height: 200px;
	width: 100%;
	border: 1px solid rgba(255, 200, 1, 0.3);
	border-bottom: none;
}

#donationListContent .item .itemInfo
{	
	border: 1px solid rgba(255, 200, 1, 0.3);
	border-top: none;
	background-color: rgba(255, 200, 1, 0.05);
	height: 300px;
	padding: 20px;
	text-align: center;
}

#donationListContent .item .itemProgress
{	
	margin: 0 auto;
	height: 13px;
}

#donationListContent .item .itemProgress .progress-bar-custom
{
	background: rgb(255, 200, 1);
	height: 13px;
	line-height: 14px;
	font-size: 12px;
	font-weight: bold;
	color: black;
}

#donationListContent .item h3
{
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

#donationListContent .item h2
{
	color: rgb(255, 200, 1);
	font-family: 'Roboto', sans-serif;
}

#donationListContent .item p
{
	color: white;
	font-family: 'Roboto', sans-serif;
}

/* Content - div one - #donationItem
-------------------------------------------------- */

#donationItem
{
	height: auto;
}

#donationItem #donationItemInfo
{
	
}

	#donationItem #donationItemInfo .text
	{
		height: auto;
		text-align: center;
		padding-top: 15px; padding-bottom: 15px;
		border: 1px solid rgba(255, 200, 1, 0.3);
		border-bottom: none;
	}

	#donationItem #donationItemInfo .imageArea
	{
		height: auto;
		border: 1px solid rgba(255, 200, 1, 0.3);
		border-bottom: none;
		padding: 0px;
	}

		#donationItem #donationItemInfo .imageArea img
		{
			width: 100%; height: auto;
			padding: 15px;
			margin: 0 auto;
		}

		#donationItem #donationItemInfo .text h3
		{
			color: white;
			font-weight: bold;
			font-family: 'Roboto', sans-serif;
		}

		#donationItem #donationItemInfo .text span
		{
			font-size: 16px; font-weight: normal; color: rgba(255, 255, 255, 0.6);
		}

		#donationItem #donationItemInfo .text p
		{
			color: white;
			font-family: 'Roboto', sans-serif;
		}

		#donationItem #donationItemInfo .text .itemProgress
		{	
			margin: 0 auto;
			height: 36px;
		}

		#donationItem #donationItemInfo .text .progress-bar-custom
		{
			background: rgb(255, 200, 1);
			height: 36px;
			line-height: 36px;
			font-size: 12px;
			font-weight: bold;
			color: black;
		}

		#donationItem #donationItemInfo .text a.donateButton
		{	
			text-align: center;
			background: rgba(255, 200, 1, 0.3);
			display: block;
			width: 100%;
			height: 50px;
			color: white;
		}

		#donationItem #donationItemInfo .text a.donateButton:hover
		{
			text-decoration: none;
		}

		#donationItem #donationItemInfo .text a.donateButton h3
		{	
			color: white;
			font-weight: bold;
			font-family: 'Roboto', sans-serif;
			margin: 0;
			line-height: 200%;
		}

#donationItem #donationItemContent
{
	border: 1px solid rgba(255, 200, 1, 0.3); height: auto;
}

	#donationItem #donationItemContent h2
	{
		color: rgb(255, 200, 1);
		font-family: 'Roboto', sans-serif;
		text-align: center;
		margin-bottom: 13px;
	}

	#donationItem #donationItemContent p
	{
		color: white;
		font-family: 'Roboto', sans-serif;
	}

/* Content - div one - #donation - $donationComments
-------------------------------------------------- */

#donationComments
{	
	float: left;
	margin-top: 20px;
	height: auto;
	text-align: center;
	padding-top: 10px; padding-bottom: 10px;
}

#donationComments .comment
{
	text-align: left;
}

#donationComments .comment p
{
	color: white;
}

/* Content - div one - #user
-------------------------------------------------- */

#user{ text-align: center;}

#user table
{
	color: white;
	margin-bottom: 0px;
	text-align: left;
}

#user table tr td{border: none;}

/* Content - div one - #register
-------------------------------------------------- */

#register
{

}

#register .smallDiv
{
	border: 1px solid rgba(255, 200, 1, 0.3);
	height: 200px;
}

#register form{text-align: center;}

#register form label{color: white;}

#register .inputTextArea{width: 70%; margin: 0 auto;}

/* Content - div one - #login
-------------------------------------------------- */

#login{
	border: 1px solid rgba(255, 200, 1, 0.3);
}

/* Content - div one - #loginWithMail
-------------------------------------------------- */

#loginWithMail form{text-align: center;}

#loginWithMail form label{color: white;}

#loginWithMail .inputTextArea{width: 50%; margin: 0 auto;}


/* Content - div one - #addDonation
-------------------------------------------------- */

#addDonation{
	margin: 0 auto;
}

#addDonation form{text-align: center;}

#addDonation form label{color: white;}


/* Content - div two
-------------------------------------------------- */

#contentDiv #divTwo
{
	height: 100%; 
	text-align: center;
}

	#contentDiv #divTwo h2
	{
		color: rgb(255, 200, 1);
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		font-style: normal;
		font-weight: 300;

	}

	#contentDiv #divTwo p
	{	
		color: rgb(255, 255, 255);
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		margin-top: -10px;
	}

	#contentDiv #divTwo hr.divider
	{	
		border-color: rgb(255, 200, 1);
	}

	#contentDiv #divTwo hr.divider2
	{
    height: 1px;
    border: 0;
    background: linear-gradient(90deg, transparent, rgb(255, 200, 1) 50%, transparent);
	}


#siteContent
{
	margin: 0 auto;
	height: auto;
	max-width: 960px;
	width: auto;
}

/* Content - pagination
-------------------------------------------------- */

#customPagination{
	margin: 0 auto;
}

#customPagination a
{
	background-color: rgb(51, 51, 51);
	border: 1px solid rgba(255, 200, 1, 0.3);
	color: rgb(157, 157, 157);
}

#customPagination a:hover
{
	color: white;
	background-color: rgba(255, 200, 1, 0.1);
}

#customPagination li.active a
{
	background-color: rgba(255, 200, 1, 0.3);
	color: white;
}



/* Media queries - Small devices (tablets, 768px and up) 
-------------------------------------------------- */

@media (min-width: 768px){

	#contentDiv #divOne
	{	
		position: relative;
	}

	#contentDiv #divTwo
	{
		/*
		position: fixed;
		right: 0;
		*/
	}

	#searchNav
	{
		margin-left: 0;
	}

	#donationItem #donationItemInfo .text
	{
		border-right: 1px solid rgba(255, 200, 1, 0.3);
	}

	#donationItem #donationItemContent
	{
		border: 1px solid rgba(255, 200, 1, 0.3);
	}

	#donationItem #donationItemInfo .imageArea
	{
		border-left: none;
		height: 300px;
	}

	#donationItem #donationItemInfo .imageArea img
	{
		height: 100%;
		width: auto;
	}

	#donationItem #donationItemInfo .text
	{
		height: 300px;
	}

	#donationItem #donationItemInfo .text a.donateButton:hover
	{
		text-decoration: none;
		background: rgba(255, 200, 1, 0.6);
	}

	#donationItem #donationItemInfo .text a.donateButton:focus
	{
		text-decoration: none;
	}
}
